[Unit]
Description=Antec Display Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/antec_display_service.py
#ExecStart=/home/USERNAME/git/antec_flux_pro_display_service/antec/bin/python3 /home/USERNAME/git/antec_flux_pro_display_service/antec_display_service.py
WorkingDirectory=/usr/bin
#Restart=always
Restart=no
User=root
Group=root

[Install]
WantedBy=multi-user.target
